<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyGate_ism</display-name>
  <welcome-file-list>
    <welcome-file>mygate.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>SignupFilter</filter-name>
    <filter-class>com.filter.SignupFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignupFilter</filter-name>
    <url-pattern>/SignupController</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>HouseFilter</filter-name>
    <filter-class>com.filter.HouseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HouseFilter</filter-name>
    <url-pattern>/AddhouseController</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MemberFilter</filter-name>
    <filter-class>com.filter.MemberFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemberFilter</filter-name>
    <url-pattern>/AddmemberController</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.filter.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/AddsecurityController</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>InstructionFilter</filter-name>
    <filter-class>com.filter.InstructionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>InstructionFilter</filter-name>
    <url-pattern>/AddinstructionController</url-pattern>
    <url-pattern>/AddinstructionbymemberController</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListuserController</display-name>
    <servlet-name>ListuserController</servlet-name>
    <servlet-class>com.controller.ListuserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListuserController</servlet-name>
    <url-pattern>/ListuserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveUserController</display-name>
    <servlet-name>ActiveUserController</servlet-name>
    <servlet-class>com.controller.ActiveUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveUserController</servlet-name>
    <url-pattern>/ActiveUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddhouseController</display-name>
    <servlet-name>AddhouseController</servlet-name>
    <servlet-class>com.controller.AddhouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddhouseController</servlet-name>
    <url-pattern>/AddhouseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddmemberController</display-name>
    <servlet-name>AddmemberController</servlet-name>
    <servlet-class>com.controller.AddmemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddmemberController</servlet-name>
    <url-pattern>/AddmemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListmemberController</display-name>
    <servlet-name>ListmemberController</servlet-name>
    <servlet-class>com.controller.ListmemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListmemberController</servlet-name>
    <url-pattern>/ListmemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddsecurityController</display-name>
    <servlet-name>AddsecurityController</servlet-name>
    <servlet-class>com.controller.AddsecurityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddsecurityController</servlet-name>
    <url-pattern>/AddsecurityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListhousebyidController</display-name>
    <servlet-name>ListhousebyidController</servlet-name>
    <servlet-class>com.controller.ListhousebyidController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListhousebyidController</servlet-name>
    <url-pattern>/ListhousebyidController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddmemberBuyhouseController</display-name>
    <servlet-name>AddmemberBuyhouseController</servlet-name>
    <servlet-class>com.controller.AddmemberBuyhouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddmemberBuyhouseController</servlet-name>
    <url-pattern>/AddmemberBuyhouseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListhousetoadminController</display-name>
    <servlet-name>ListhousetoadminController</servlet-name>
    <servlet-class>com.controller.ListhousetoadminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListhousetoadminController</servlet-name>
    <url-pattern>/ListhousetoadminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllowhouseController</display-name>
    <servlet-name>AllowhouseController</servlet-name>
    <servlet-class>com.controller.AllowhouseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllowhouseController</servlet-name>
    <url-pattern>/AllowhouseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddinstructionController</display-name>
    <servlet-name>AddinstructionController</servlet-name>
    <servlet-class>com.controller.AddinstructionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddinstructionController</servlet-name>
    <url-pattern>/AddinstructionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListhousenoController</display-name>
    <servlet-name>ListhousenoController</servlet-name>
    <servlet-class>com.controller.ListhousenoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListhousenoController</servlet-name>
    <url-pattern>/ListhousenoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListinstructionmemberController</display-name>
    <servlet-name>ListinstructionmemberController</servlet-name>
    <servlet-class>com.controller.ListinstructionmemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListinstructionmemberController</servlet-name>
    <url-pattern>/ListinstructionmemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatestatusController</display-name>
    <servlet-name>UpdatestatusController</servlet-name>
    <servlet-class>com.controller.UpdatestatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatestatusController</servlet-name>
    <url-pattern>/UpdatestatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListinstructionmemberdoneController</display-name>
    <servlet-name>ListinstructionmemberdoneController</servlet-name>
    <servlet-class>com.controller.ListinstructionmemberdoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListinstructionmemberdoneController</servlet-name>
    <url-pattern>/ListinstructionmemberdoneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginsecurityController</display-name>
    <servlet-name>LoginsecurityController</servlet-name>
    <servlet-class>com.controller.LoginsecurityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginsecurityController</servlet-name>
    <url-pattern>/LoginsecurityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListsecurityController</display-name>
    <servlet-name>ListsecurityController</servlet-name>
    <servlet-class>com.controller.ListsecurityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListsecurityController</servlet-name>
    <url-pattern>/ListsecurityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddinstructionbymemberController</display-name>
    <servlet-name>AddinstructionbymemberController</servlet-name>
    <servlet-class>com.controller.AddinstructionbymemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddinstructionbymemberController</servlet-name>
    <url-pattern>/AddinstructionbymemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListhousenobyidController</display-name>
    <servlet-name>ListhousenobyidController</servlet-name>
    <servlet-class>com.controller.ListhousenobyidController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListhousenobyidController</servlet-name>
    <url-pattern>/ListhousenobyidController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListinstructiontoadminController</display-name>
    <servlet-name>ListinstructiontoadminController</servlet-name>
    <servlet-class>com.controller.ListinstructiontoadminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListinstructiontoadminController</servlet-name>
    <url-pattern>/ListinstructiontoadminController</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ExitetimeController</display-name>
    <servlet-name>ExitetimeController</servlet-name>
    <servlet-class>com.controller.ExitetimeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitetimeController</servlet-name>
    <url-pattern>/ExitetimeController</url-pattern>
  </servlet-mapping>
</web-app>